<head>
  <%= javascript_include_tag "home" %>
</head>
<body>
  <div class="container">
    <div class="col-sm-2">
      <div class="sidebar">
        <ul class="nav nav-sidebar">
          <li><a class="active about-btn">About me</a></li>
          <li><a class="resume-btn">Resume</a></li>
          <li><a class="projects-btn">Projects</a></li>
        </ul>
      </div>
    </div>
    <div class="container-fluid about-me col-sm-10">
      <%= render 'layouts/aboutme' %>
    </div>

    <div class="container-fluid resume col-sm-10">
      <%= render 'layouts/resume' %>
    </div>

    <div class="container-fluid projects col-sm-10">
      <%= render 'layouts/projects' %>
    </div>
  </div>
</body>