// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .sidebar li {
   border: 1px solid grey;
 }

//.sidebar {
//  padding-top: 20px;
//}

.sidebar {
  margin-top: 20px;
  border: 0 black solid;
  box-shadow: 6px 6px 20px #eee;
}

.sidebar li {
  border:0 #f2f2f2 solid;
  border-width: 1px;
}

.about-img {
  max-width: 200px;
}

.edu {
  list-style-type: none;
}

.project-link {
  font-size: 1.4em;
  color: blue !important;
}