<h1>About Me</h1>
<div class="row">
  <div class="col-md-3">
    <div class="row">
      <%= image_tag "about_me.JPG", :class => "thumbnail about-img", :style => "float: left;" %>
    </div>
    <div class="row">
      <%= image_tag "about-2.jpg", :class => "thumbnail about-img", :style => "float: left;" %>
    </div>
  </div>
  <div class="col-md-7">
    <p>I grew up in a small town in Southern California. I was the typical high school student. I played
      sports, was in the marching band, graduated with honors, and had no idea what I wanted to be when I
      grew up. I knew I wanted to get some kind of engineering degree, but I didn't know which one. I liked
      technology so why not Computer Engineering. I was accepted into the UCSB Engineering program right out
      of high school. I moved in with my aunt in Santa Barbara and started school. I had no idea what was in
      store.
    </p>
    <p>In my first semester at UCSB, I remember a professor in my technical writing class telling me that
      that 3 out of 4 people in the class will change majors by the end of their degree. I remember thinking
      to my self that I was going to be the one person who remained a CE major. After about of year of lower
      division CE classes it quickly became apparent to me that this is not what I was cut out for. I really
      liked my programming classes but circuits were too much. So after some hardships I decided to transfer
      out of UCSB.
    <p>I moved to San Francisco in 2011 to pursue my degree in computer science at San Francisco State
      University. Here I am, three years later. I am preparing to graduate on May 24th. I am excited to start
      my career as a Software Engineer and can not wait to see what comes next.
    </p>
  </div>
</div>