<h3>Check out my projects on Github</h3>
<a href="https://github.com/amandamcwhorter" class="project-link">My Github</a>
<hr>
<h3>Rails Project for my Internet Applications class at SF State</h3>
<p>Aura is a scheduling app that allows businesses like hair salons and spas to book appointments.
  The app still needs a lot of front-end work, but it's back-end is fully functioning. Check out the app at
</p>
<a href="http://teamaura.herokuapp.com/" class="project-link">Aura</a>
<hr>
<h3>PHP project for my Software Engineering class at SF State</h3>
<p>Luckyard is an online classified app similar to Craig's List. I was the primary front-end developer for
  this app. Check it out at</p>
<a href="http://sfsuswe.com/~s14g09" class="project-link">Luckyard</a>