<h3>Summary</h3>
<li>Determined, self-motivated, ambitious programmer with a year and a half of experience in web development and QA.</li>
<li>Excellent inter-personal, teamwork, and communication skills.</li>
<li>A strong foundation in object oriented programming and concepts.</li>
<li>Enthusiasm for learning and taking on leadership roles.</li>
<hr>
<h4>Education</h4>
<li class="edu">San Francisco State University</li>
<li class="edu">Graduation date: May 24, 2014</li>
<li class="edu">Major: Computer Science</li>
<hr>
<h4>Work Experience</h4>
<p><strong>Manilla - Software Engineering and QA Intern</strong></p>
<li>QA Team - manual testing (black box) for web and mobile applications. Filing bugs, writing specs, testing new
  features, manual regression testing, SQL queries</li>
<li>Web Dev Team - contributed to Manilla's source code by doing bug fixes and small features using Ruby on Rails,
  HTML, CSS, JavaScript, and Bootstrap. Participated in code reviews, paired programming,tech club, and versoning control.</li>
<br>
<p><strong>SFSU Communications Dept. - Student Web Assistant</strong></p>
<br>
<p><strong>Naval Air And Weapons Center, IBAR - Scientific Aid</strong></p>
<hr>
<h4>Qualification and Other Experience</h4>
<li>Languages: C, C++, Java, Ruby, PHP, JavaScript, HTML, CSS</li>
<li>frameworks: Ruby on Rails, BootStrap</li>
<li>Databases: MySQL, Postresql, SQL</li>
<li>Version Control: git, svn</li>
<li>Operating Systems: Linux, MacOX, Windows</li>
<li>Other: Unix, UML, Microsoft Office, Microsoft Project, SAP ERP</li>